.file-reader-container{
    padding: 15px;
    border-top: 3px solid #ff1493;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 4px 4px 10px -3px #969696;
}

.file-reader-label{
    display: block;
    border: 3px dashed #dedede;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 15px 8px 15px;
}

.explanation-p{
    margin-bottom: 15px;
}

.container-icon{
    text-align: center;
    padding:60px 0px;
    margin:7px;
    background-color:#f9f9f9;
    border-radius: 5px;
    color: #d0d0d0;
}

.icon{
    font-size: 10em;
    display:block;
    
    
    
}